@mixin media($args) {
  @media screen and (max-width: $args) {
    @content;
  }
}

.custom-btn__box {
  // clip-path: polygon(6% 0, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
  position: relative;
  // width: 15rem;
  // height: 6rem;
  // background-color: aqua;
  width: 140px;
  height: 45px;
  // padding: 12px 10px;
  // background: green;
  // clip-path: polygon(6% 0, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
  transition: filter 250ms ease-in-out, transform 250ms ease-in-out,
    margin 250ms ease-in-out;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
    margin: 0rem 1rem;
  }
  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(#e86fce 0px 0px 15px) drop-shadow(#ffffff3b 0px 5px 0px);
    // margin: 0px 10px;
  }
}
.custom-btn {
  min-width: 180px;

  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8745c3, #e86fce);
  box-shadow: inset #ff92e8 0px 0px 20px 2px;
  clip-path: polygon(6% 0, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
  left: -15%;
  position: absolute;
}

.accent-btn__box {
  position: relative;
  width: 140px;
  height: 45px;
  filter: drop-shadow(rgb(0, 0, 0) 0px 2px 1px),
    drop-shadow(#000000 0px 4px 1px);

  cursor: pointer;
  // box-shadow: white 0px 0px 20px 5px;

  .btn-accent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    // height: 45px;
    padding: 1.5rem 4rem;
    background: linear-gradient(to top, #8645c341, #e86fce3d);
    background: #ffffff1a;
    clip-path: polygon(6% 0, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
    position: absolute;
    transition: transform 250ms ease-in-out;
    white-space: nowrap;
    left: -15%;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.save-text {
  @include media(700px) {
    font-size: 2vw;
  }
}
// responsive design for mobile phones
@media screen and (max-width: 800px) {
  .custom-btn__box{
    font-size: 15px;
  }
  .accent-btn__box .btn-accent{
    // left: -65%;
    margin-top: 30px;
    // width: 30px;
  }
}