@mixin media($args) {
  @media screen and (max-width: $args) {
    @content;
  }
}


.play {
  padding: 6rem 0 12rem 0;
  // border-top: 1px solid #ffffff;
  border-radius: 100px;
  border-bottom: 1px solid #ffffff;
  height: auto;


  @include media(1100px) {
    width: 100%;
  }
  @include media(700px) {
    padding: 2rem 2rem;
  }
  // background-image: linear-gradient(to top, #2d134e 40%, #e86fce 40%);

  &__title {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: -15rem;
    background: linear-gradient(to left, #8d52f5, #db6dcf);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 8rem;
    height: auto;
    padding: 20px;

    @include media(1100px) {
      min-height: 650px;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      &__img-box {
        order: 1;
        margin: 20px;
      }
      &__content {
        order: 2;
        height: auto;
        margin: 50px 0px;
      }
    }
  }

  &__gradient {
    height: 15rem;
  }

  &__img-box {
    width: 58rem;
    height: auto;
    position: relative;
    border-radius: 25px;
    transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
    transform: scale(0.92);

    .swiper {
      height: 100% !important;
    }
    &:hover {
      transform: scale(1);
      box-shadow: #a2339252 -11px -10px 10px 5px;
    }
    &::before {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 5%;
      left: -5%;
      right: 0;
      bottom: 0;
      border-radius: 25px;
      padding: 2px;
      background: linear-gradient(to left, #743ad5, #d53a9d);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      z-index: 0;
    }

    @include media(700px) {
      width: 80vw;
      // height: 80%;
    }
    @include media(400px) {
      width: 70vw;
      // height: 80%;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    flex-basis: 60%;
    position: relative;
    z-index: 1;
    border-radius: 25px;
  }

  &__content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 2;
    & p {
      margin-bottom: 2rem;
    }
    b {
      font-size: 1.95rem;
      color: #d53a9d;
    }
    @include media(1100px) {
      order: 2;
      height: auto;
      margin: 50px 0px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include media(1100px) {
      min-height: 650px;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      &__img-box {
        order: 1;
        margin: 20px;
      }
      &__content {
        order: 2;
        height: auto;
        margin: 30px 0px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .play__title{
    margin-bottom: 0rem;
  }
  .play__left{
    margin-bottom: 0rem;
  }
}